<div id="<%= dom_id group %>">
  <div class="flex items-center justify-between mt-5 w-2/3">
    <h1 class="font-bold text-2xl">
      <%= link_to group.title, group %>
    </h1>
    <%= group_actions(group) %>
  </div>
</div>
