secret_key_base: <your secret key>
database:
  host: <your database host>
  username: <your database usernmae>
  password: <your database password>
email:
  username: <your email>
  password: <your password>
dev_email:
  username: <your email>
  password: <your password>
redis: <your redis url>
