<div class="mx-auto w-2/3 flex">
  <div class="mx-auto">
    <h1 class="title-primary"><%= @post.title %></h1>
    <p class="text-xl mt-10"><%= @post.content %></p>
    <h1 class="title-secondary">Comments</h1>
    <div class="mt-5">
      <%= render(CommentComponent.with_collection(@post.comments, current_user: current_user)) %>
    </div>
    <div class="mt-10">
      <%= render partial: 'comments/form', locals: { comment: @post.comments.build } %>
    </div>
  </div>
</div>
